<?xml version="1.0"?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
            <section name="Snoop.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false"/>
        </sectionGroup>
    </configSections>
    <userSettings>
        <Snoop.Properties.Settings>
            <setting name="SnoopUIWindowPlacement" serializeAs="String">
                <value>&lt;?xml version="1.0" encoding="utf-16"?&gt;
&lt;WINDOWPLACEMENT xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:xsd="http://www.w3.org/2001/XMLSchema"&gt;
  &lt;length&gt;44&lt;/length&gt;
  &lt;flags&gt;0&lt;/flags&gt;
  &lt;showCmd&gt;1&lt;/showCmd&gt;
  &lt;minPosition&gt;
    &lt;X&gt;-1&lt;/X&gt;
    &lt;Y&gt;-1&lt;/Y&gt;
  &lt;/minPosition&gt;
  &lt;maxPosition&gt;
    &lt;X&gt;-1&lt;/X&gt;
    &lt;Y&gt;-1&lt;/Y&gt;
  &lt;/maxPosition&gt;
  &lt;normalPosition&gt;
    &lt;Left&gt;10&lt;/Left&gt;
    &lt;Top&gt;10&lt;/Top&gt;
    &lt;Right&gt;650&lt;/Right&gt;
    &lt;Bottom&gt;490&lt;/Bottom&gt;
  &lt;/normalPosition&gt;
&lt;/WINDOWPLACEMENT&gt;</value>
            </setting>
            <setting name="AppChooserWindowPlacement" serializeAs="String">
                <value>&lt;?xml version="1.0" encoding="utf-16"?&gt;
&lt;WINDOWPLACEMENT xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:xsd="http://www.w3.org/2001/XMLSchema"&gt;
  &lt;length&gt;44&lt;/length&gt;
  &lt;flags&gt;0&lt;/flags&gt;
  &lt;showCmd&gt;1&lt;/showCmd&gt;
  &lt;minPosition&gt;
    &lt;X&gt;-1&lt;/X&gt;
    &lt;Y&gt;-1&lt;/Y&gt;
  &lt;/minPosition&gt;
  &lt;maxPosition&gt;
    &lt;X&gt;-1&lt;/X&gt;
    &lt;Y&gt;-1&lt;/Y&gt;
  &lt;/maxPosition&gt;
  &lt;normalPosition&gt;
    &lt;Left&gt;10&lt;/Left&gt;
    &lt;Top&gt;10&lt;/Top&gt;
    &lt;Right&gt;541&lt;/Right&gt;
    &lt;Bottom&gt;36&lt;/Bottom&gt;
  &lt;/normalPosition&gt;
&lt;/WINDOWPLACEMENT&gt;
</value>
            </setting>
            <setting name="ZoomerWindowPlacement" serializeAs="String">
                <value>&lt;?xml version="1.0" encoding="utf-16"?&gt;
&lt;WINDOWPLACEMENT xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:xsd="http://www.w3.org/2001/XMLSchema"&gt;
  &lt;length&gt;44&lt;/length&gt;
  &lt;flags&gt;0&lt;/flags&gt;
  &lt;showCmd&gt;1&lt;/showCmd&gt;
  &lt;minPosition&gt;
    &lt;X&gt;-1&lt;/X&gt;
    &lt;Y&gt;-1&lt;/Y&gt;
  &lt;/minPosition&gt;
  &lt;maxPosition&gt;
    &lt;X&gt;-1&lt;/X&gt;
    &lt;Y&gt;-1&lt;/Y&gt;
  &lt;/maxPosition&gt;
  &lt;normalPosition&gt;
    &lt;Left&gt;10&lt;/Left&gt;
    &lt;Top&gt;10&lt;/Top&gt;
    &lt;Right&gt;541&lt;/Right&gt;
    &lt;Bottom&gt;36&lt;/Bottom&gt;
  &lt;/normalPosition&gt;
&lt;/WINDOWPLACEMENT&gt;
</value>
            </setting>
            <setting name="PropertyFilterSets" serializeAs="String">
                <value>&lt;?xml version="1.0" encoding="utf-16"?&gt;
&lt;ArrayOfPropertyFilterSet xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
      xmlns:xsd="http://www.w3.org/2001/XMLSchema"&gt;
      &lt;PropertyFilterSet&gt;
        &lt;DisplayName&gt;Layout&lt;/DisplayName&gt;
        &lt;IsDefault&gt;false&lt;/IsDefault&gt;
        &lt;IsEditCommand&gt;false&lt;/IsEditCommand&gt;
        &lt;Properties&gt;
          &lt;string&gt;width&lt;/string&gt;
          &lt;string&gt;height&lt;/string&gt;
          &lt;string&gt;actualwidth&lt;/string&gt;
          &lt;string&gt;actualheight&lt;/string&gt;
          &lt;string&gt;margin&lt;/string&gt;
          &lt;string&gt;padding&lt;/string&gt;
          &lt;string&gt;canvas.left&lt;/string&gt;
          &lt;string&gt;canvas.top&lt;/string&gt;
        &lt;/Properties&gt;
      &lt;/PropertyFilterSet&gt;
      &lt;PropertyFilterSet&gt;
        &lt;DisplayName&gt;Grid/Dock&lt;/DisplayName&gt;
        &lt;IsDefault&gt;false&lt;/IsDefault&gt;
        &lt;IsEditCommand&gt;false&lt;/IsEditCommand&gt;
        &lt;Properties&gt;
          &lt;string&gt;grid.&lt;/string&gt;
          &lt;string&gt;dockpanel.dock&lt;/string&gt;
        &lt;/Properties&gt;
      &lt;/PropertyFilterSet&gt;
      &lt;PropertyFilterSet&gt;
        &lt;DisplayName&gt;Color&lt;/DisplayName&gt;
        &lt;IsDefault&gt;false&lt;/IsDefault&gt;
        &lt;IsEditCommand&gt;false&lt;/IsEditCommand&gt;
        &lt;Properties&gt;
          &lt;string&gt;color&lt;/string&gt;
          &lt;string&gt;background&lt;/string&gt;
          &lt;string&gt;foreground&lt;/string&gt;
          &lt;string&gt;borderbrush&lt;/string&gt;
          &lt;string&gt;fill&lt;/string&gt;
          &lt;string&gt;stroke&lt;/string&gt;
        &lt;/Properties&gt;
      &lt;/PropertyFilterSet&gt;
      &lt;PropertyFilterSet&gt;
        &lt;DisplayName&gt;ItemsControl&lt;/DisplayName&gt;
        &lt;IsDefault&gt;false&lt;/IsDefault&gt;
        &lt;IsEditCommand&gt;false&lt;/IsEditCommand&gt;
        &lt;Properties&gt;
          &lt;string&gt;items&lt;/string&gt;
          &lt;string&gt;selected&lt;/string&gt;
        &lt;/Properties&gt;
      &lt;/PropertyFilterSet&gt;
    &lt;/ArrayOfPropertyFilterSet&gt;</value>
            </setting>
            <setting name="ShowDefaults" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="ShowPreviewer" serializeAs="String">
                <value>False</value>
            </setting>
        </Snoop.Properties.Settings>
    </userSettings>
<startup><supportedRuntime version="v2.0.50727"/></startup></configuration>
