Build/
Intermediate/
bin/
obj/
output/
artifacts/
Debug/
Release/
packages/
paket-files/
.tmp/
*.vs
*.vscode
*.user
*.opensdf
*.sdf
*.suo
*.pdb
*.dll
*.ncb

# Temp-Files from Verify
*.received.txt

# ReSharper is a .NET coding add-in
_ReSharper*/
*.[Rr]e[Ss]harper
*.DotSettings.user

# Designer
FAML.Designer.settings