source https://api.nuget.org/v3/index.json

framework: auto-detect
specific_version: false
redirects: off

nuget nuget.commandline
nuget vswhere
nuget wix

nuget Microsoft.PowerShell.3.ReferenceAssemblies