<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<configSections>
		<sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
			<section name="Snoop.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false"/>
		</sectionGroup>
	</configSections>

	<userSettings>
		<Snoop.Properties.Settings>
			<setting name="SnoopUIWindowPlacement" serializeAs="String">
				<value>
					&lt;?xml version="1.0" encoding="utf-16"?&gt;
					&lt;WINDOWPLACEMENT xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:xsd="http://www.w3.org/2001/XMLSchema"&gt;
					&lt;length&gt;44&lt;/length&gt;
					&lt;flags&gt;0&lt;/flags&gt;
					&lt;showCmd&gt;1&lt;/showCmd&gt;
					&lt;minPosition&gt;
					&lt;X&gt;-1&lt;/X&gt;
					&lt;Y&gt;-1&lt;/Y&gt;
					&lt;/minPosition&gt;
					&lt;maxPosition&gt;
					&lt;X&gt;-1&lt;/X&gt;
					&lt;Y&gt;-1&lt;/Y&gt;
					&lt;/maxPosition&gt;
					&lt;normalPosition&gt;
					&lt;Left&gt;10&lt;/Left&gt;
					&lt;Top&gt;10&lt;/Top&gt;
					&lt;Right&gt;650&lt;/Right&gt;
					&lt;Bottom&gt;490&lt;/Bottom&gt;
					&lt;/normalPosition&gt;
					&lt;/WINDOWPLACEMENT&gt;
				</value>
			</setting>
			<setting name="AppChooserWindowPlacement" serializeAs="String">
				<value>
					&lt;?xml version="1.0" encoding="utf-16"?&gt;
					&lt;WINDOWPLACEMENT xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:xsd="http://www.w3.org/2001/XMLSchema"&gt;
					&lt;length&gt;44&lt;/length&gt;
					&lt;flags&gt;0&lt;/flags&gt;
					&lt;showCmd&gt;1&lt;/showCmd&gt;
					&lt;minPosition&gt;
					&lt;X&gt;-1&lt;/X&gt;
					&lt;Y&gt;-1&lt;/Y&gt;
					&lt;/minPosition&gt;
					&lt;maxPosition&gt;
					&lt;X&gt;-1&lt;/X&gt;
					&lt;Y&gt;-1&lt;/Y&gt;
					&lt;/maxPosition&gt;
					&lt;normalPosition&gt;
					&lt;Left&gt;10&lt;/Left&gt;
					&lt;Top&gt;10&lt;/Top&gt;
					&lt;Right&gt;541&lt;/Right&gt;
					&lt;Bottom&gt;36&lt;/Bottom&gt;
					&lt;/normalPosition&gt;
					&lt;/WINDOWPLACEMENT&gt;
				</value>
			</setting>
			<setting name="ZoomerWindowPlacement" serializeAs="String">
				<value>
					&lt;?xml version="1.0" encoding="utf-16"?&gt;
					&lt;WINDOWPLACEMENT xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:xsd="http://www.w3.org/2001/XMLSchema"&gt;
					&lt;length&gt;44&lt;/length&gt;
					&lt;flags&gt;0&lt;/flags&gt;
					&lt;showCmd&gt;1&lt;/showCmd&gt;
					&lt;minPosition&gt;
					&lt;X&gt;-1&lt;/X&gt;
					&lt;Y&gt;-1&lt;/Y&gt;
					&lt;/minPosition&gt;
					&lt;maxPosition&gt;
					&lt;X&gt;-1&lt;/X&gt;
					&lt;Y&gt;-1&lt;/Y&gt;
					&lt;/maxPosition&gt;
					&lt;normalPosition&gt;
					&lt;Left&gt;10&lt;/Left&gt;
					&lt;Top&gt;10&lt;/Top&gt;
					&lt;Right&gt;541&lt;/Right&gt;
					&lt;Bottom&gt;36&lt;/Bottom&gt;
					&lt;/normalPosition&gt;
					&lt;/WINDOWPLACEMENT&gt;
				</value>
			</setting>
		</Snoop.Properties.Settings>
	</userSettings>

	<system.diagnostics>
		<sources>
			<!--
			<source name="System.Windows.Data" switchName="SourceSwitch">
				<listeners>
					<add name="textListener"/>
				</listeners>
			</source>
			-->
			<!--
			<source name="System.Windows.DependencyProperty" switchName="SourceSwitch">
				<listeners>
					<add name="textListener"/>
				</listeners>
			</source>
			-->
			<!--
			<source name="System.Windows.Freezable" switchName="SourceSwitch">
				<listeners>
					<add name="textListener"/>
				</listeners>
			</source>
			-->
			<!--
			<source name="System.Windows.RoutedEvent" switchName="SourceSwitch">
				<listeners>
					<add name="textListener"/>
				</listeners>
			</source>
			-->
			<!--
			<source name="System.Windows.Media.Animation" switchName="SourceSwitch">
				<listeners>
					<add name="textListener"/>
				</listeners>
			</source>
			-->
			<!--
			<source name="System.Windows.NameScope" switchName="SourceSwitch">
				<listeners>
					<add name="textListener"/>
				</listeners>
			</source>
			-->
			<!--
			<source name="System.Windows.ResourceDictionary" switchName="SourceSwitch">
				<listeners>
					<add name="textListener"/>
				</listeners>
			</source>
			-->
			<!--
			<source name="System.Windows.Markup" switchName="SourceSwitch">
				<listeners>
					<add name="textListener"/>
				</listeners>
			</source>
			-->
			<!--
			<source name="System.Windows.Documents" switchName="SourceSwitch">
				<listeners>
					<add name="textListener"/>
				</listeners>
			</source>
			-->
		</sources>

		<switches>
			<add name="SourceSwitch" value="All"/>
			<!--add name="SourceSwitch" value="Off" -->
			<!--add name="SourceSwitch" value="Verbose" -->
			<!--add name="SourceSwitch" value="Warning" -->
			<!--add name="SourceSwitch" value="Activity" -->
		</switches>

		<sharedListeners>
			<!-- This listener sends output to the console -->
			<add
				name="console"
				type="System.Diagnostics.ConsoleTraceListener"
				initializeData="false"
			/>

			<!-- This listener sends output to an Xml file named AvTrace.xml -->
			<add
				name="xmlListener"
				type="System.Diagnostics.XmlWriterTraceListener"
				traceOutputOptions="None"
				initializeData="AvTrace.xml"
			/>

			<!-- This listener sends output to a file named AvTrace.txt -->
			<add
				name="textListener"
				type="System.Diagnostics.TextWriterTraceListener"
				initializeData="AvTrace.txt"
			/>
		</sharedListeners>

		<trace autoflush="true" indentsize="4">
		</trace>
	</system.diagnostics>
</configuration>