<?xml version="1.0"?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
            <section name="Snoop.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false"/>
        </sectionGroup>
    </configSections>
    <userSettings>
        <Snoop.Properties.Settings>
            <setting name="AppChooserWindowPlacement" serializeAs="String">
                <value />
            </setting>
            <setting name="SetOwnerWindow" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="MultipleAppDomainMode" serializeAs="String">
                <value>Ask</value>
            </setting>
            <setting name="MultipleDispatcherMode" serializeAs="String">
                <value>Ask</value>
            </setting>
        </Snoop.Properties.Settings>
    </userSettings>
    <startup>
        <supportedRuntime version="v4.0"/>
    </startup>
</configuration>
