<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
            <section name="Snoop.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <userSettings>
        <Snoop.Properties.Settings>
            <setting name="AppChooserWindowPlacement" serializeAs="String">
                <value />
            </setting>
            <setting name="SetOwnerWindow" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="MultipleAppDomainMode" serializeAs="String">
                <value>Ask</value>
            </setting>
            <setting name="MultipleDispatcherMode" serializeAs="String">
                <value>Ask</value>
            </setting>
            <setting name="GlobalHotKey" serializeAs="String">
                <value>CTRL + WIN + ALT + F12</value>
            </setting>
            <setting name="ILSpyPath" serializeAs="String">
                <value>%path%</value>
            </setting>
            <setting name="EnableDiagnostics" serializeAs="String">
                <value>True</value>
            </setting>
        </Snoop.Properties.Settings>
    </userSettings>
    <startup>
        <supportedRuntime version="v4.0" />
    </startup>
    <runtime>
        <!-- DoNotScaleForDpiChanges = required to get per monitor dpi as long as we don't target .net 4.6.2 or higher -->
        <AppContextSwitchOverrides value="Switch.System.Windows.DoNotScaleForDpiChanges=false" />
    </runtime>
</configuration>