<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <startup>
        <supportedRuntime version="v4.0" />
    </startup>
    <runtime>
        <!-- DoNotScaleForDpiChanges = required to get per monitor dpi as long as we don't target .net 4.6.2 or higher -->
        <AppContextSwitchOverrides value="Switch.System.Windows.DoNotScaleForDpiChanges=false" />
    </runtime>
</configuration>