name: continuous

on:
  push:
    branches:
      - master
      - develop
    tags:
      - v*
  pull_request:
    branches:
      - develop

jobs:
  windows-latest:
    name: windows-latest
    runs-on: windows-latest
    steps:
      - uses: actions/checkout@v1
      - name: Download .NET install
        shell: pwsh
        run: Invoke-WebRequest 'https://dot.net/v1/dotnet-install.ps1' -OutFile 'dotnet-install.ps1'
      - name: Install .NET 8 SDK
        shell: pwsh
        run: ./dotnet-install.ps1 -Version 8.0.100 -InstallDir "C:\Program Files\dotnet"
      - name: Run './build.cmd CI'
        run: ./build.cmd CI
      - uses: actions/upload-artifact@v3
        with:
          name: test-results
          path: output/test-results
        if: ${{ always() }}
      - uses: actions/upload-artifact@v3
        with:
          name: artifacts
          path: artifacts
